/*************** global properties         ******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd9d3;
  color: #333;
  font-family: 'Crimson Text', 'Noto Serif JP', sans-serif;
  letter-spacing: 0.02em;

}

a {
  text-decoration: none;
}

/*************** end of global properties         ******************/
div.container-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 77px;
  background-color: #f5f2ed;
  background-image: url("../images/background_003.gif");
  background-position: center top;
  background-repeat: no-repeat;
}
@media screen and (max-width:480px) {
  div.container-wrapper {
    width: 100%;
    margin: 0;
    padding-top: 22px;
    background-image: url("../images/background_sp.gif");
    background-size: 800px auto;
    background-position: center top;
  }
}

div.container-1st {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width:480px) {
  div.container-1st {
    width: calc(100% - 44px);
    margin: 0 22px;
    position: relative;
  }
}

div.header{
  width: 120px;
}
div.header h1.logo {
  text-align: center;
}

div.header h1.logo img {
  width: 87px;
  height: 274px;
}


div.header a.nav-button {
  display: none;
}

div.header nav {
  margin-top: 150px;
}

div.header nav div.logo {
  display: none;
}

@media screen and (max-width:480px) {
  div.header {
    width: 100%;
    height: 21px;
  }
  div.header h1.logo {
    width: 75px;
    height: 164px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom-right-radius: 8px;
    text-align: left;
    padding-left: 8px;
  }
  div.header h1.logo img {
    width: 44px;
    height: 137px;
  }
  div.header nav {
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  div.header nav.open {
    display: block;
  }

  div.header nav div.logo {
    display: block;
    text-align: center;
  }

  div.header nav div.logo img {
    margin-top: 50px;
    width: 98px;
    height: 69px;
  }

  div.header nav.close {
    display: none;
  }

  div.header nav {
    padding-top: 74px;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }

  div.header a.nav-button {
    display: block;
    cursor: pointer;
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3px;
    margin-right: 3px;
    width: 25px;
    height: 18px;
  }

  div.header a.nav-button, div.header a.nav-button span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  div.header a.nav-button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
    border-radius: 4px;
  }

  div.header a.nav-button span:nth-of-type(1) {
    top: 0;
  }
  div.header a.nav-button span:nth-of-type(2) {
    top: 8px;
  }
  div.header a.nav-button span:nth-of-type(3) {
    bottom: 0;
  }

  .nav-button.active span:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
  .nav-button.active span:nth-of-type(2) {
    opacity: 0;
  }
  .nav-button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
  }

}

div.header nav ul {

}

div.header nav ul li {
  list-style-type: none;
  text-align: center;
  position: relative;
  margin-top: 24px;
}

div.header nav ul li:not(:last-child)::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 10px;
  height: 1px;
  background-color: #333;
  transform: translateX(-50%);
}

div.header a {
  color: #968f86;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

div.header a:hover {
  color: #98001b;
  text-decoration: underline;
}

div.articles {
  width: calc(100% - 120px);
  padding-top: 10px;
  display: flex;
}

div.articles img {
  border-radius: 8px;
}

div.pickup-article {
  min-width: 650px;
  width: 80%;
}

div.pickup-article-pane {
  margin: 0 auto;
  width: 630px;
}

div.pickup-article-image {
  margin-bottom: 30px;
}

div.pickup-article-date {
  float: left;
  width: 68px;
  padding-right: 24px;
}

div.pickup-article-date p.year-month {
  font-size: 14px;
  text-align: center;
}
div.pickup-article-date p.day {
  margin-bottom: -15px;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}
div.pickup-article-info {
  float:left;
  width: 562px;
  border-left: 1px solid #333;
  padding: 0 10px 0 24px;
}
div.pickup-article-info p.title {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.6;
}
div.pickup-article-info p.info {
  font-size: 14px;
  color: #968f86;
  font-family: 'Roboto', sans-serif;
}

div.other-articles {
  margin: 0 auto;
  min-width: 280px;
  width: 30%;
  font-family: 'Roboto', sans-serif;
}

div.other-articles div.article-pane:not(:first-child) {
  margin-top: 32px;
}

div.other-articles div.article-image {
  float: left;
  width: 120px;
}

div.other-articles div.article-image img{
    width: 120px;
    height: 80px;
}

div.other-articles div.article-info {
  float: left;
  width: 140px;
  margin-left: 20px;
}

div.other-articles div.article-info p.article-date {
  font-size: 12px;
  margin-bottom: 4px;
}

div.other-articles div.article-info p.title {
  font-size: 14px;
  line-height: 1.6;
}

div.other-articles div.article-pane p.info {
  clear: both;
  padding-top: 10px;
  font-size: 11px;
  color: #968f86;
}

@media screen and (max-width:480px) {
  div.articles {
    margin-top: 25px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  div.pickup-article {
    width: 100%;
    min-width: 100%;
  }

  div.pickup-article-pane {
    width: 100%;
  }

  div.pickup-article-image {
    margin-bottom: 25px;
  }

  div.pickup-article-image img {
    width: 100%;
    height: auto;
  }

  div.pickup-article-date {
    float: right;
    width: 60px;
    padding-left: 16px;
    padding-right: 0;
    border-left: 1px solid #333;
  }

  div.pickup-article-date p.year-month {
    margin-top: -8px;
    font-size: 14px;
    text-align: center;
  }
  div.pickup-article-date p.day {
    margin-top: -8px;
    margin-bottom: -15px;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
  }
  div.pickup-article-info {
    float:left;
    width: calc(100% - 60px);
    border: 0;
    padding: 0;
  }
  div.pickup-article-info p.title {
    font-size: 18px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding-right: 16px;
    line-height: 1.6;
  }
  div.pickup-article-info p.info {
    font-size: 10px;
    color: #968f86;
    font-family: 'Roboto', sans-serif;
  }

  div.other-articles {
    margin-top: 22px;
    min-width: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.other-articles div.article-pane {
    margin-top: 28px;
    width: 46%;
  }
  div.other-articles div.article-pane:not(:first-child) {
    margin-top: 28px;
  }

  div.other-articles div.article-image {
    float: none;
    width: 100%;
  }

  div.other-articles div.article-image img {
    width: 100%;
    height: auto;
  }

  div.other-articles div.article-info {
    width: 100%;
    margin: 0;
  }

  div.other-articles div.article-info p.article-date {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  div.other-articles div.article-info p.title {
    font-size: 14px;
    line-height: 1.6;
  }

  div.other-articles div.article-pane p.info {
    clear: both;
    padding-top: 10px;
    font-size: 10px;
    line-height: 1.6;
    color: #968f86;
  }
}

div.swiper-container {
  margin-top: 40px;
  width: 100%;
  min-width: 1080px;
  font-family: 'Roboto', sans-serif;
}

div.swiper-container div.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
}

div.swiper-container div.swiper-slide {
  width: 340px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
}

div.swiper-container div.swiper-slide div.review-image img {
  width: 280px;
  height: 185px;
  object-fit: cover;
  border-radius: 8px;
}

div.swiper-container div.swiper-slide div.review-product {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
}

div.swiper-container div.swiper-slide div.review-brewery {
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
  color: #968f86;
}

div.swiper-container div.swiper-slide div.review-graph {
  display: flex;
  width: 100%;
  padding-top: 8px;
}

div.swiper-container div.swiper-slide div.review-graph div.review-graph-label {
  width: 70px;
  font-size: 10px;
  letter-spacing: 0;
  color: #968f86;
}

div.swiper-container div.swiper-slide div.review-graph div.review-graph-label:first-child {
	width: 66px;
}

div.swiper-container div.swiper-slide div.review-graph div.review-graph-bar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - 160px);
  /*width: 120px;*/
  border-radius: 2px;
  height: 4px;
  margin: 0 10px;
  align-self: center;
  background-color: #ddd8d2;

}
div.swiper-container div.swiper-slide div.review-graph div.review-graph-bar div.review-graph-pointer {
  position: relative;
  top: -4px;
  width: 10px;
  /*width: 154px; width of the superclass - width of the pointer */
  height:10px;
  background-image: url("../images/review-graph-pointer.gif");
  background-repeat: no-repeat;
  z-index: 2;
}

div.swiper-container div.swiper-slide hr.review-partition {
  width: 100%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ddd8d2;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.swiper-container div.swiper-slide div.review-comment {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.6;
  color: #968f86;
}

div.swiper-container div.swiper-slide ul.review-tag {
  width: 200px;
  font-size: 12px;
  color: #968f86;
  list-style: none;
}

div.swiper-container div.swiper-slide ul.review-tag li{
  float: left;
  margin: 4px 4px 0 0;
  padding: 4px;
  border-radius: 4px;
  background-color: #ebe7e1;
}

div.swiper-container div.swiper-slide div.review-user {
  width: 80px;
  padding-left: 20px;
  margin-top: 8px;
  font-size: 12px;
  color: #968f86;
}

div.swiper-container div.swiper-slide div.review-user p {
  text-align: center;
}

div.swiper-container div.swiper-slide div.review-user img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #968f86;
  filter: brightness(90%);
  margin-bottom: 4px;
}

@media screen and (max-width:480px) {
  div.swiper-container {
    margin-top: 40px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  div.swiper-container div.swiper-wrapper {
    display: block;
    padding-bottom: 130px;
  }

  div.swiper-container div.swiper-slide {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
  }

  div.swiper-container div.swiper-slide div.review-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  div.swiper-container div.swiper-slide div.review-product {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
  }

  div.swiper-container div.swiper-slide div.review-brewery {
    margin-top: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    color: #968f86;
  }

  div.swiper-container div.swiper-slide div.review-graph {
    display: flex;
    width: 100%;
    padding-top: 8px;
  }

  div.swiper-container div.swiper-slide div.review-graph div.review-graph-label {
    width: 70px;
    font-size: 10px;
    letter-spacing: 0;
    color: #968f86;
  }

  div.swiper-container div.swiper-slide div.review-graph div.review-graph-label:first-child {
  	width: 66px;
  }

  div.swiper-container div.swiper-slide div.review-graph div.review-graph-bar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: calc(100% - 160px);
    /*width: 120px;*/
    border-radius: 2px;
    height: 4px;
    margin: 0 10px;
    align-self: center;
    background-color: #ddd8d2;

  }
  div.swiper-container div.swiper-slide div.review-graph div.review-graph-bar div.review-graph-pointer {
    position: relative;
    top: -4px;
    width: 10px;
    /*width: 154px; width of the superclass - width of the pointer */
    height:10px;
    background-image: url("../images/review-graph-pointer.gif");
    background-repeat: no-repeat;
    z-index: 2;
  }

  div.swiper-container div.swiper-slide hr.review-partition {
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ddd8d2;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  div.swiper-container div.swiper-slide div.review-comment {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.6;
    color: #968f86;
  }

  div.swiper-container div.swiper-slide ul.review-tag {
    width: 76%;
    font-size: 12px;
    color: #968f86;
    list-style: none;
  }

  div.swiper-container div.swiper-slide ul.review-tag li{
    float: left;
    margin: 4px 4px 0 0;
    padding: 4px;
    border-radius: 4px;
    background-color: #ebe7e1;
  }

  div.swiper-container div.swiper-slide div.review-user {
    width: 24%;
    padding-left: 4px;
    margin-top: 8px;
    font-size: 12px;
    color: #968f86;
  }

  div.swiper-container div.swiper-slide div.review-user p {
    text-align: center;
  }

  div.swiper-container div.swiper-slide div.review-user img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    color: #968f86;
    filter: brightness(90%);
    margin-bottom: 4px;
  }
}

div.container-2nd {
  padding-top: 70px;
  width: 100%;
  background-color: #ebe7e1;
}

p.heading {
  width: 100%;
  min-width: 768px;
  max-width: 1140px;
  margin: 0 auto;
  font-size: 28px;
}

div.reviewers {
  width: 100%;
  min-width: 768px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 44px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.reviewers div.reviewer-pane {
  width: 115px;
  font-family: 'Roboto', sans-serif;
}

div.reviewers div.reviewer-pane div.reviewer-image img {
  width: 115px;
  height: 115px;
  border-radius: 100%;
}

div.reviewers div.reviewer-pane div.reviewer-name {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

div.reviewers div.reviewer-pane div.reviewer-review-count {
  margin-top: 10px;
  font-size: 12px;
  color: #968f86;
  text-align: center;
}

@media screen and (max-width:480px) {
  div.container-2nd {
    padding: 0 22px;
    width: (100% - 44px);
    background-color: #ebe7e1;
  }

  p.heading {
    padding-top: 35px;
    width: 100%;
    min-width: 100%;
    font-size: 24px;

  }

  div.reviewers {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.reviewers div.reviewer-pane {
    width: 30%;
    margin-top: 22px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  div.reviewers div.reviewer-pane div.reviewer-image img {
    width: 80%;
    height: 80%;
    border-radius: 100%;
  }

  div.reviewers div.reviewer-pane div.reviewer-name {
    margin-top: 13px;
    font-size: 14px;
    text-align: center;
  }

  div.reviewers div.reviewer-pane div.reviewer-review-count {
    margin-top: 10px;
    font-size: 12px;
    color: #968f86;
    text-align: center;
  }
}



div.footer {
  width: 100%;
  min-width: 768px;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 80px;
  color: #968f86;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

div.footer div.footer-content {
  width: calc(100% - 158px);
  margin-right: 39px;
  border-top: 1px solid #ddd8d2;
  display: flex;
  align-items: flex-end;
}

div.footer div.copyright {
  width: 119px;
  font-size: 12px;
}

div.footer-logo img {
	width: 119px;
	height: auto;
}

@media screen and (max-width:480px) {
  div.footer {
    min-width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 80px;
    color: #968f86;
    font-family: 'Roboto', sans-serif;
    display: flex;
  }

  div.footer div.footer-content {
    width: calc(100% - 158px);
    margin-right: 39px;
    border-top: 0;
    display: flex;
    align-items: flex-end;
  }

  div.footer div.copyright {
    width: 119px;
    font-size: 12px;
  }
  div.footer div.footer-logo img {
      width: 98px;
      height: 69px;
  }
}

/*************** end of top page             ******************/
/*************** begenning of Article        ******************/
div.container-main {
  width: calc(100% - 120px);
  padding-top: 10px;
  display: flex;
}

div.container-main-left {
  min-width: 650px;
  width: 80%;
}

div.main-article-pane {
  margin: 0 auto;
  width: 630px;
}

div.main-article-image {
  margin-bottom: 30px;
}

div.main-article-image img {
  border-radius: 8px;
}

div.main-article-date {
  float: left;
  width: 68px;
  padding-right: 24px;
}

div.main-article-date p.year-month {
  font-size: 14px;
  text-align: center;
}
div.main-article-date p.day {
  margin-bottom: -15px;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}
div.main-article-info {
  float:left;
  width: 562px;
  border-left: 1px solid #333;
  padding: 0 10px 0 24px;
}
div.main-article-info h1.title {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.6;
}
div.main-article-info p.info {
  font-size: 14px;
  color: #968f86;
  font-family: 'Roboto', sans-serif;
}

div.main-article-content {
  margin-top: 40px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 2.0;
  clear: both;
}



div.main-article-content p {
  margin-bottom: 40px;
}

div.main-article-content h2 {
  margin-top: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
  width: 100%;
  font-size: 22px;
  font-family: 'Crimson Text', sans-serif;
}

div.main-article-content h2::before {
  position: relative;
  top: 0;
  left: -10px;
  width: 16px;
  height: 16px;
  content: '';
  border-radius: 100%;
  background-color: #98001b;
  display: inline-block;
}

div.main-article-content h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  font-size: 20px;
  font-family: 'Crimson Text', sans-serif;
}

div.main-article-content h3::before {
  position: relative;
  top: -6px;
  left: -10px;
  width: 15px;
  height: 1px;
  content: '';
  background-color: #98001b;
  display: inline-block;
}

div.main-article-content div.toc {
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
}

div.main-article-content div.toc div {
    padding-right: 30px;
    font-size: 18px;
    font-family: 'Crimson Text', sans-serif;
}

div.main-article-content div.toc ol {
  border-left: 1px solid #333;
  padding-left: 44px;
}

div.main-article-content div.toc ol li a {
  color: #98001b;
}

div.main-article-content table {
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

div.main-article-content table th {
  background-color: #ebe7e1;
  padding: 20px;
  font-weight: bold;
  border: 1px solid #ddd8d2;
}

div.main-article-content table td {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd8d2;
}

div.main-article-content ul {

}

div.main-article-content ul li {
  margin-left: 18px;
}

div.container-main-right {
  margin: 0 auto;
  min-width: 280px;
  width: 30%;
  font-family: 'Roboto', sans-serif;
}

div.intro-article-pane:not(:first-child) {
  margin-top: 32px;
}

div.intro-article-image {
  float: left;
  width: 120px;
}

div.intro-article-image img{
    width: 120px;
    height: 80px;
    border-radius: 8px;
}

div.intro-article-info {
  float: left;
  width: 140px;
  margin-left: 20px;
}

div.intro-article-info p.date {
  font-size: 12px;
  margin-bottom: 4px;
}

div.intro-article-info p.title {
  font-size: 14px;
  line-height: 1.6;
}

div.intro-article-pane p.info {
  clear: both;
  padding-top: 10px;
  font-size: 11px;
  color: #968f86;
}

div.article-nav {
  border-top: 1px solid #ddd8d2;
  border-bottom: 1px solid #ddd8d2;
  display: flex;
}

div.article-nav div.article-prev {
  width: 50%;
  margin: 40px 0;
  padding: 0 40px;
  text-align: right;
  border-right: 1px solid #ddd8d2;
}

div.article-nav div.article-next {
  width: 50%;
  margin: 40px 0;
  padding: 0 40px;
  text-align: left;
}

div.article-nav p.article-nav-heading {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #98001b;
}

div.article-nav p.article-nav-title {
  margin-top: 12px;
  line-height: 1.6;
}

div.article-nav a {
  font-size: 16px;
  color: #333;
}

div.all-articles-nav {

}

div.all-articles-nav p {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}

div.all-articles-nav a{
  color: #333;
}

@media screen and (max-width:480px) {
  div.container-main {
    margin-top: 25px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  div.container-main-left {
    width: 100%;
    min-width: 100%;
  }

  div.main-article-pane {
    width: 100%;
  }

  div.main-article-image {
    margin-bottom: 25px;
  }

  div.main-article-image img {
    width: 100%;
    height: auto;
  }

  div.main-article-date {
    float: right;
    width: 60px;
    padding-left: 16px;
    padding-right: 0;
    border-left: 1px solid #333;
  }

  div.main-article-date p.year-month {
    margin-top: -8px;
    font-size: 14px;
    text-align: center;
  }
  div.main-article-date p.day {
    margin-top: -8px;
    margin-bottom: -15px;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
  }
  div.main-article-info {
    float:left;
    width: calc(100% - 60px);
    border: 0;
    padding: 0;
  }
  div.main-article-info h1.title {
    font-size: 18px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding-right: 16px;
    line-height: 1.6;
  }
  div.main-article-info p.info {
    font-size: 10px;
    color: #968f86;
    font-family: 'Roboto', sans-serif;
  }

  div.main-article-content {
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 2.0;
    clear: both;
  }



  div.main-article-content p {
    margin-bottom: 40px;
  }

  div.main-article-content h2 {
    margin-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #333;
    width: 100%;
    font-size: 22px;
    font-family: 'Crimson Text', sans-serif;
  }

  div.main-article-content h2::before {
    position: relative;
    top: 0;
    left: -10px;
    width: 16px;
    height: 16px;
    content: '';
    border-radius: 100%;
    background-color: #98001b;
    display: inline-block;
  }

  div.main-article-content h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    font-size: 20px;
    font-family: 'Crimson Text', sans-serif;
  }

  div.main-article-content h3::before {
    position: relative;
    top: -6px;
    left: -10px;
    width: 15px;
    height: 1px;
    content: '';
    background-color: #98001b;
    display: inline-block;
  }

  div.main-article-content div.toc {
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
  }

  div.main-article-content div.toc div {
      width: 100%;
      font-size: 18px;
      font-family: 'Crimson Text', sans-serif;
  }

  div.main-article-content div.toc ol {
    border-left: 1px solid #333;
    padding-left: 30px;
  }

  div.main-article-content div.toc ol li a {
    color: #98001b;
  }

  div.main-article-content table {
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
  }

  div.main-article-content table th {
    background-color: #ebe7e1;
    padding: 20px;
    font-weight: bold;
    border: 1px solid #ddd8d2;
  }

  div.main-article-content table td {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd8d2;
  }

  div.main-article-content ul {

  }

  div.main-article-content ul li {
    margin-left: 18px;
  }

  div.container-main-right {
    margin: 0 auto;
    min-width: 280px;
    width: 30%;
    font-family: 'Roboto', sans-serif;
  }

  div.intro-article-pane:not(:first-child) {
    margin-top: 32px;
  }

  div.intro-article-image {
    float: left;
    width: 120px;
  }

  div.intro-article-image img{
      width: 120px;
      height: 80px;
      border-radius: 8px;
  }

  div.intro-article-info {
    float: left;
    width: 140px;
    margin-left: 20px;
  }

  div.intro-article-info p.date {
    font-size: 12px;
    margin-bottom: 4px;
  }

  div.intro-article-info p.title {
    font-size: 14px;
    line-height: 1.6;
  }

  div.intro-article-pane p.info {
    clear: both;
    padding-top: 10px;
    font-size: 11px;
    color: #968f86;
  }

  div.article-nav {
    border-top: 1px solid #ddd8d2;
    border-bottom: 1px solid #ddd8d2;
    display: flex;
  }

  div.article-nav div.article-prev {
    width: 50%;
    margin: 40px 0;
    padding: 0 40px;
    text-align: right;
    border-right: 1px solid #ddd8d2;
  }

  div.article-nav div.article-next {
    width: 50%;
    margin: 40px 0;
    padding: 0 40px;
    text-align: left;
  }

  div.article-nav p.article-nav-heading {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #98001b;
  }

  div.article-nav p.article-nav-title {
    margin-top: 12px;
    line-height: 1.6;
  }

  div.article-nav a {
    font-size: 16px;
    color: #333;
  }

  div.all-articles-nav {

  }

  div.all-articles-nav p {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #333;
  }

  div.all-articles-nav a{
    color: #333;
  }
}
/*************** end of Article              ******************/
/*************** begenning of All Articles   ******************/
div.all-articles {
  width: 90%;
  min-width: 880px;
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.all-articles div.article-pane {
  width: 285px;
  margin-top: 58px;
}

div.all-articles p.article-image {

}

div.all-articles p.article-image img {
  width: 285px;
  height: auto;
  border-radius: 8px;
}

div.all-articles div.article-info {
  width: 100%;
  border-left: 1px solid #333;
  padding-left: 24px;
}

div.all-articles div.article-info p.article-date {
  margin-top: 20px;
  font-size: 16px;
}

div.all-articles div.article-info p.article-title {
  margin-top: 12px;
  font-size: 20px;
  line-height: 1.6;
}

div.all-articles div.article-info p.article-author {
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #968f86;
}

/*************** end of All Articles             ******************/
/*************** begenning of Article   ******************/
