@import "./responsive";

// Global properties
$baseBGColor: #ddd9d3;
$firstContainerBGColor: #f5f2ed;

$baseFontColor: #333;
$subFontColor: #968f86;
$baseLinkHoverColor: #98001b;
$baseLetterSpacing: 0.02em;

$enMainFontFamily: 'Crimson Text', 'Noto Serif JP', sans-serif;
$enSubFontFamily: 'Roboto', sans-serif;

@mixin hoverWithUnderline {
  color: $baseLinkHoverColor;
  text-decoration: underline;
}

@mixin hoverWithoutUnderline {
  color: $baseLinkHoverColor;
  text-decoration: none;
}

body {
  background-color: $baseBGColor;
  color: $baseFontColor;
  font-family: $enMainFontFamily;
  letter-spacing: $baseLetterSpacing;
}

a {
    text-decoration: none;
}

p.heading {
  width: 100%;
  min-width: 768px;
  max-width: 1140px;
  margin: 0 auto 40px;
  font-size: 28px;
  @include sp {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

// The base container
div.container-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 77px;
  background-color: $firstContainerBGColor;
  background-image: url("../images/background_003.gif");
  background-position: center top;
  background-repeat: no-repeat;
  @include sp {
    margin: 0;
    padding-top: 22px;
    background-image: url("../images/background_sp.gif");
    background-size: 800px auto;
    background-position: center top;
  };
}

div.container-1st {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include sp {
    margin: 0 22px;
    width: calc(100% - 44px); //44px comes from the width of total margin
    position: relative;
  };
}

div.container-main {
  width: calc(100% - 120px);
  padding-top: 10px;
  display: flex;

  @include sp {
    margin-top: 25px;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
  };

  div.container-main-single-column {
    width: 90%;
    min-width: 880px;
    margin: 0 auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.container-main-left {
    min-width: 650px;
    width: 80%;
    @include sp {
      min-width: 100%;
      width: 100%;
    };
  }

  div.container-main-right {
    margin: 0 auto;
    min-width: 280px;
    width: 30%;
    @include sp {
      margin-top: 22px;
      min-width: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}


div.container-2nd {
  padding-top: 70px;
  width: 100%;
  background-color: #ebe7e1;
  @include sp {
    padding: 30px 22px 10px;
    min-width: 100%;
    background-color: #ebe7e1;
  }
}
