@import "../bases/responsive";
@import "../bases/base";
@import "../components/tasting-map";

$widthProdoctImage: 340px;

div.product-info {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  div.product-image {
    margin-left: 40px;
    width: $widthProdoctImage;
    height: $widthProdoctImage;
    border: 1px solid #ddd8d2;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    img {
      margin: 20px;
      max-width: 300px;
      max-height: 300px;
      width: auto;
      height: auto;
    }
  }

  div.product-desc {
    width: calc(100% - 390px);
    h1.product-name {
      width: 100%;
      font-size: 30px;
    }
    p.brewery-name {
      margin-top: 26px;
      width: 100%;
      color: $subFontColor;
      font-size: 14px;
      font-family: $enSubFontFamily;
    }
    div.product-spec-box {
      margin-bottom: 60px;
      width: 100%;
      display: flex;
      table.product-spec:nth-child(2) {
        margin-left: 14px;
      }
      table.product-spec {
        margin-top: 60px;
        margin-right: 10px;
        border-collapse: collapse;
        width: 50%;
        font-size: 14px;
        font-family: $enSubFontFamily;
        th {
          padding: 15px 15px 15px 0;
          border-bottom: 1px solid #ddd8d2;
          width: 150px;
          font-weight: bold;
          text-align: left;
        }
        td {
          padding: 15px 0;
          border-bottom: 1px solid #ddd8d2;
          //width: 20%;
          text-align: left;
        }
      }
    }
  }
}

div.product-review-pane {
  margin-bottom: 40px;
  border-radius: 8px;
  width: 100%;
  font-family: $enSubFontFamily;
  background-color: #fff;

  div.review-pane-main {
    padding: 38px;
    div.review-comment {
      font-size: 14px;
      p.review-read-more{
        float: right;
        margin-top: 24px;
        a {
          @include hoverWithUnderline;
        }
      }
    }
  }
  div.review-pane-intro {
    clear: both;
    padding: 18px;
    border-top: 1px solid #ddd8d2;
    display: flex;
    justify-content: center;
    align-items: center;
    ul.review-tag {
      width: 70%;
      font-size: 14px;
      color: #968f86;
      list-style: none;
      @include sp {
        width: 76%;
        font-size: 12px;
        color: #968f86;
        list-style: none;
      };

      li{
        float: left;
        margin: 4px 4px 0 0;
        padding: 4px;
        border-radius: 4px;
        background-color: #ebe7e1;
        @include sp {

        };
      }
    }
    div.review-user {
      width: 30%;
      padding-left: 20px;
      margin-top: 8px;
      font-size: 12px;
      color: #968f86;
      @include sp {
        width: 24%;
        padding-left: 4px;
        margin-top: 8px;
        font-size: 12px;
        color: #968f86;
      }

      p {
        text-align: center;
        @include sp {

        };
      }

      img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        color: #968f86;
        filter: brightness(90%);
        margin-bottom: 4px;
        @include sp {
          width: 100%;
          height: auto;
          border-radius: 100%;
          color: #968f86;
          filter: brightness(90%);
          margin-bottom: 4px;
        }
      }
    }
  }
}
